.search-bar{
    margin: 10px;
    font-family: "Baloo 2";
    text-align: end;
}
.application{
    background-color: #dfe6e9;
}
.page-title .stores{
    font-family: "Baloo 2";
    font-size: 30px;
    font-weight: 700;
}
.grid-of-stores-container{
    padding: 20px;
    justify-content: center;
}
.grid-of-stores-container .row{
    margin-top: 50px;
}
.options-section{
    text-align: left;
}
.options-section .title{
    text-decoration: none;
    font-family: "Baloo 2";
    font-size: 20px;
    text-align: center;
    display: inline-block;
    color: #2d3436;
}
.options-section .title::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #2d3436;
    transition: width .3s;
}
.options-section .title:hover::after{
    width: 100%;
    transition: width .3s;
}

